version: '3.8'
services:
  db:
    image: postgres:10
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test
    restart: always
    volumes:
      - ./pgdata:/var/lib/postgresql/data
  api:
    build:
      dockerfile: Dockerfile
      context: .
    depends_on:
      - db
    env_file:
      - env.list
    ports:
      - '3000:3000'
    volumes:
      - .:/app
    restart: always
